* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

button {
  font: inherit;
  background: #ff0062;
  border: 1px solid #ff0062;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a80041;
  border-color: #a80041;
}

#counter {
  float: right;
  color: #ff0062;
  font-weight: lighter;
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;    
}

.kanban {
  margin: 1rem;
  border: 1px solid red;
  width: 100%;
}

.kanban header {
  background: red;
  height: 3.5rem;
  text-align: center;
}

#in-progress-task {
  border-color: rgb(255, 208, 0);
}

#in-progress-task header {
  background: rgb(255, 208, 0);
}

#done-task {
  border-color: green;
}

#done-task header {
  background: green;
}

.kanban h2 {
  margin: 0;
  color: white;
}

.kanban ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.kanban li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
  background: white;
}

.kanban li h2 {
  color: #ff0062;
  margin: 0.5rem 0;
}

#in-progress li h2 {
  color: yellowgreen;
}

#dones li h2 {
  color: darkgreen;
}

.kanban li h3 {
  color: #575757;
  font-size: 1rem;
}

.kanban li p {
  margin: 0;
}

#to-do.droppable {
  background: #ffe3ee;
}

#in-progress.droppable {
  background: #f0ffab;
}

#done.droppable {
  background: #abffab;
}

#user-input, .stats {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ff0062;
  background: #f7f7f7;
}

.stats {
  border: 1px solid violet;
}
